:root > * {
    --md-primary-fg-color:        #306998;
    --md-primary-fg-color--light: #306998;
    --md-primary-fg-color--dark:  #306998;
    --md-accent-fg-color:           #FFD43B;
  }

.md-header__title {
  margin-left: 0 !important;
}

img[alt="MaskMyPy Logo"] { width: 400px;}

.func-heading {
  font-size: 1.1rem;
  font-family: 'Roboto Mono', monospace;
  letter-spacing: -0.05rem;
}

.md-typeset h2 {
  font-weight: 300;
}

.md-typeset h3 {
  font-weight: 200;
}